$brand-color:         #747274;
$highlight:           lighten($brand-color, 35%);
$text-color:          #323432;
$muted-text-color:    #b5b5ac;
$font-family:         "Noto Sans";

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;